profile = ocamlformat
# break-cases = fit
# break-cases = vertical
break-cases = all
if-then-else=vertical
# if-then-else={compact|fit-or-vertical|vertical|keyword-first|k-r}
margin = 77
wrap-comments = true
line-endings = lf

# To make ocaml-ci happy
version = ignore
version-check = false